<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    
    <div class="container body-content">
        @RenderBody()
       @*Cria linha divisoria:
        <hr />*@
        <footer>
            
        </footer>
    </div>

    

    @RenderSection("Scripts", required: false)
</body>
</html>
